@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
    <img src="~/images/students.jpg" alt="Contoso University and students"/>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            Contoso University is a great place to learn and become who you are meant to be.
        </p>
    </div>
</div>